.mypage-container {
    background-color: #ffe4e1;
    padding: 20px;
    border-radius: 10px;
}
  
.profile-edit-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.nickname {
    font-size: 24px;
    font-weight: bold;
}
  
.profile-edit-button {
    background-color: #ffb6c1;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
  
.mypage-title {
    font-size: 20px;
    font-weight: bold;
    color: #d2691e;
    margin: 20px 0;
}
  
.memory-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}
  
.memory-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}
  
.memory-title {
    flex: 1; /* 제목 부분이 최대한 공간을 차지하게 설정 */
    font-size: 16px;
    font-weight: bold;
    text-align: left; /* 제목은 왼쪽 정렬 */
}
  
.likes {
    font-size: 14px;
    font-weight: bold;
    color: #d2691e;
    margin-right: 20px; /* 좋아요 갯수와 팔로우 버튼 사이의 간격 추가 */
    white-space: nowrap; /* 좋아요 텍스트가 줄바꿈되지 않도록 설정 */
}
  
.add-friend-button {
    background-color: #ffb6c1;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap; /* 버튼 텍스트가 줄바꿈되지 않도록 설정 */
}
 
.middle-mypage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.id-add-friend {
    background-color: #ffb6c1;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}
/* 수정 및 삭제 버튼 스타일 */
.edit-button,
.delete-button {
  background-color: #ffb6c1;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
}

.edit-button:hover {
  background-color: #ff69b4;
}

.delete-button:hover {
  background-color: #ff6347;
}

/* 페이지 네비게이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.pagination button {
  background-color: #ffb6c1;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
}

.pagination button:disabled {
  background-color: #ffe4e1;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
}
